## Seasonaility

 


https://rocs-dbt-docs.netlify.app/#!/model/model.data_pipelines.vitals_standardized_by_daily_aggregates

## Postgres database

In [2]:
from datenspende.utils import query_pg_df
from psycopg.sql import SQL

In [1]:
query = f"""

select
    vital.date, vital.type, vital.source, avg(vital.value) mean, stddev(vital.value) std
from
    "rocs"."datenspende"."vitaldata" vital
where vital.user_id not in (
    select
        user_id
    from
        "rocs"."datenspende_derivatives"."excluded_users"
    where
            project = 'scripps colaboration long covid'
)
group by vital.date , vital.type, vital.source"""

In [3]:
df = query_pg_df(
    SQL(query))

/home/jovyan/datenspende-science/datenspende/utils/load_from_postgres.py:45: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(query, conn)

In [4]:
df.head()

         date  type  source          mean          std
0  2020-04-08     9       3  5.450667e+03  3630.953978
1  2020-04-08     9       4  8.727400e+03  6707.300858
2  2020-04-08    43       9  4.644000e+02    70.825843
3  2020-04-08    52       9  1.586293e+09  3132.494214
4  2020-04-08    53       9  1.586322e+09  1948.661079

In [5]:
df['type'].unique()

array([ 9, 43, 52, 53, 65, 66])

In [7]:
import pandas as pd

In [8]:
value_types = pd.read_csv('epoch_value_types.csv')

In [16]:
df[(df.type == 65)].to_csv('mean_rhr_pdps.csv')

In [19]:
df[(df.type == 9)].to_csv('mean_steps_pdps.csv')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34898 entries, 0 to 34897
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    34898 non-null  object
 1   type    34898 non-null  int64
 2   source  34898 non-null  int64
 3   mean    34898 non-null  float64
 4   std     34521 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.3+ MB